﻿
@model IEnumerable<BTS.eBook.Core.Contracts.Group.GroupRecord>
@{
    ViewBag.Title = "Phê duyệt nội dung sách";
    Layout = "~/Views/Shared/_Layout_Minimal.cshtml";
}

@using (Html.BeginRouteForm("v-save-approval"))
{
    <div class="form-group">
        <label>Nhóm phê duyệt <span class="requiredField">*</span></label>
        <input type="hidden" value="@ViewBag.VersionId" name="VersionId" id="VersionId" />
        @if (Model != null && Model.Any())
        {
            <select class="select2 form-control" id="Ids" name="Ids" multiple="multiple" required="">
                @foreach (var item in Model)
                {
                    <option value="@item.GroupId">@item.Name (@item.Code)</option>
                }
            </select>
        }
    </div>
    <div class="form-group">
        <label>Nội dung</label>
        @Html.TextArea("Body", new { @required = "required" ,@class= "form-control" })
    </div>
    <div>
        <button type="submit" id="btnSave" class="btn btn-primary pull-right m-t-n-xs">
            <i class="fa fa-check"></i>
            Lưu
        </button>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Ids").attr("data-placeholder", "[Chọn nhóm phê duyệt]");
        });
    </script>
}
