﻿
@using BTS.eBook.Core.Contracts.Category
@model BTS.eBook.Admin.Models.VersionModel
@{
    ViewBag.Title = "Cập nhật nội dung: " + Model.VersionNo;

}

@using (Html.BeginRouteForm("v-updated"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-bookmark"></i>
            Cập nhật nội dung @Model.VersionNo
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>

            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
            <a class="btn btn-default" href="@Url.RouteUrl("v-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên sách <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    <select id="CategoryId" name="CategoryId" class="select2 form-control target">
                        <option value="">[--Chọn sách--]</option>
                        @if (Model.Categories != null)
                        {
                            foreach (var item in (List<CategoryRecord>)Model.Categories)
                            {
                                var selected = string.Empty;
                                if (item.CategoryId == Model.CategoryId)
                                {
                                    selected = "selected";
                                }
                                <option @selected value="@item.CategoryId">@item.Name (@item.Code)</option>
                            }
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Phiên bản </label>
                    </div>
                </td>
                <td class="adminData">
                    <label class="form-control single-line" id="lblVersionNo">v.@Model.VersionNo</label>
                    @Html.HiddenFor(m => m.VersionNo, new { @id = "versionNo" })
                    @Html.HiddenFor(m => m.VersionId)
                    @Html.HiddenFor(m => m.CreateDate)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Mô tả </label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextAreaFor(m => m.Summary, new { @class = "form-control single-line" })
                </td>
            </tr>
            @if (ViewBag.IsAdmin == true)
            {
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Xuất bản</label>
                        </div>
                    </td>
                    <td class="adminData">
                        @Html.CheckBoxFor(m => m.IsPublish)
                    </td>
                </tr>
            }
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tải nội dung</label></div>
                </td>
                <td class="adminData">
                    @Html.Partial("_ContentPartial")
                </td>
            </tr>
        </tbody>
    </table>
}

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $.connection.hub.start().done(function () {
                console.log('Connected');
            }).fail(function () {
                alert("Could not Connect!");
            });
        });

        $(document).on('change', '#CategoryId', function () {
            var value = $("#CategoryId").val();
            if (value != "") {
                var options = {};
                options.url = '@Url.RouteUrl("v-versionNo")';
                options.type = "POST";
                options.data = {
                    catId: value
                };
                options.dataType = "json";
                options.success = function (response) {
                    //console.log(response.versionNo);
                    $("#versionNo").val(response.versionNo);
                    $("#lblVersionNo").text('v.' + response.versionNo);
                };
                options.error = function (err) { console.log(err); };
                $.ajax(options);
            }
            else {
                $("#versionNo").val(1);
                $("#lblVersionNo").text('v.1');
            }
        });
    </script>

}


