﻿
@using BTS.eBook.Core
@using BTS.eBook.Core.Contracts.Category
@using MvcPaging
@model MvcPaging.IPagedList<BTS.eBook.Core.Contracts.Version.VersionRecord>

@{
    ViewBag.Title = "Quản lý nội dung";

    var currentUser = HttpContext.Current.Session[BTS.eBook.Core.Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
    bool add = false;
    bool delete = false;
    bool edit = false;
    bool publish = false;

    if (currentUser != null)
    {
        add = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Add));
        delete = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Delete));
        edit = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Edit));
        publish = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Publish));
    }
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-bookmark"></i>
        Quản lý nội dung
    </div>
    <div class="options btn-toolbar text-right">
        @if (add)
        {
            <a href="@Url.RouteUrl("v-create")" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        }

    </div>
</div>
@using (Html.BeginRouteForm("v-Index"))
{
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-sm-3">
                <select id="categoryId" name="categoryId" class="select2 form-control">
                    <option value="">[--Chọn sách--]</option>
                    @if (ViewBag.Categories != null)
                    {
                        foreach (var item in (List<CategoryRecord>)ViewBag.Categories)
                        {
                            var selected = string.Empty;
                            if (ViewBag.CategoryId != null)
                            {
                                if (item.CategoryId == (Guid)ViewBag.CategoryId)
                                {
                                    selected = "selected";
                                }
                            }

                            <option @selected value="@item.CategoryId">@item.Name (@item.Code)</option>
                        }
                    }

                </select>

            </div>
            <div class="col-sm-2">
                <button type="submit" id="search" value="search-category" class="btn"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            </div>
            <div class="col-sm-2 pull-right text-right">
                <a class="btn btn-danger  btn-sm" onclick="bts.common.onDelete('@Constant.ModuleFunction.Version'); return false;" title="Xóa nhiều bản ghi"><i class="fa fa-trash"></i>&nbsp;Xóa nhiều bản ghi</a>
            </div>
        </div>
    </div>

    <div id="grid-list" class="col-md-12">
        <div class="">
            <img src="/Content/images/loading.gif" id="imgLoading" style="display: none" />
            <div class="row">
                <div>
                    <table class="table table-bordered table-striped tbl-Index">
                        <thead>
                            <tr>
                                <th scope="col" class="indexNumber">
                                    @Html.CheckBox("CheckAll", new { @id = "CheckAll" })
                                <th>#</th>
                                <th>Tên sách</th>
                                <th>Phiên bản</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                @if (add)
                                {
                                    <th>Tắt/Bật</th>
                                }
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" id="@item.VersionId" class="chkclass" value="@item.VersionId" name="CheckRecord" />
                                            @Html.Hidden(item.VersionId.ToString())
                                        </td>
                                        <td class="text-center">@item.STT</td>
                                        <td>@item.CategoryName</td>
                                        <td class="text-center">v.@item.VersionNo</td>
                                        <td>@item.CreateDate.ToString("dd/MM/yyyy HH:ss:mm tt")</td>
                                        <td class="text-center">
                                            @if (item.Status == 1)
                                            {
                                                @:Xuất bản
                                            }
                                            else if (item.Status == 2)
                                            {
                                                @:Chờ phê duyệt
                                            }
                                            else if (item.Status == 3)
                                            {
                                                @:Bản nháp
                                            }
                                        </td>
                                        @if (add)
                                        {
                                            <td class="text-center">
                                                @{
                                                    var cssClass = "btn-danger";
                                                    var isActive = "True";
                                                    var text = "Bật";
                                                    if (item.IsActive)
                                                    {
                                                        cssClass = "btn-success";
                                                        isActive = "False";
                                                        text = "Tắt";
                                                    }
                                                }
                                                <a data-func="@Constant.ModuleFunction.Version"
                                                   data-id="@item.VersionId"
                                                   data-active="@isActive"
                                                   class="btn btn-sm @cssClass turn-off turnOff_@item.VersionId" title="@text"><i class="fa fa-power-off"></i></a>
                                            </td>
                                                    }
                                        <td class="text-center">
                                            
                                            @if (publish && item.Status == 3)
                                            {
                                                <a href="@Url.RouteUrl("v-approval", new {id = item.VersionId})"
                                                   class="btn btn-warning btn-sm"
                                                   title="Phê duyệt nội dung" data-toggle="fancybox" data-fancybox-type="iframe" data-fancybox-width="600">
                                                    <i class="fa fa-cube"></i>
                                                </a>
                                            }
                                            @if (publish && item.Status == 2)
                                            {
                                                <a href="@Url.RouteUrl("v-publish", new {id = item.VersionId})" class="btn btn-primary btn-sm" title="Xuất bản nội dung"
                                                   data-toggle="fancybox" data-fancybox-type="iframe" data-fancybox-width="600">
                                                    <i class="fa fa-globe"></i>
                                                </a>
                                            }                                           
                                            @if (edit)
                                            {
                                                <a href="@Url.RouteUrl("v-edit", new {id = item.VersionId, categoryId = ViewBag.CategoryId, page = ViewBag.PageNumber})" title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>

                                            }
                                            @if (delete)
                                            {
                                                <a href="@Url.RouteUrl("v-delete", new {id = item.VersionId, categoryId = ViewBag.CategoryId, page = ViewBag.PageNumber})" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa bản ghi này không?')" title="Xóa"><i class="fa fa-trash"></i></a>

                                            }
                                        </td>
                                    </tr>
                                                        }

                                                    }

                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    <div class="pager1 text-center">
                        @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = Model.PageSize,
                                TotalItemCount = Model.TotalItemCount,
                                CurrentPage = ViewBag.PageNumber,
                                ItemTexts = new ItemTexts() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "P", First = "Trang đầu", Last = "Trang cuối" },
                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                TooltipTitles = new TooltipTitles() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "Trang {0}.", First = "Trang đầu", Last = "Trang cuối" },
                                Size = Size.normal,
                                Alignment = Alignment.centered,
                                IsShowControls = true,
                                IsShowFirstLast = true,
                                CssClass = "",
                                IsShowPages = true
                            }, new { categoryId = ViewBag.CategoryId }))

                    </div>
                }
            </div>
        </div>
    </div>
                                                    }
