﻿
@model BTS.eBook.Admin.Models.VersionPublishModel
@{
    ViewBag.Title = "Xuất bản nội dung sách";
    Layout = "~/Views/Shared/_Layout_Minimal.cshtml";
}

@using (Html.BeginRouteForm("v-save-publish"))
{
    <div class="form-group">
        <label>Trạng thái</label>
        @Html.HiddenFor(x => x.VersionId)
        <select class="select2 form-control" id="Status" name="Status" required="">
            <option value="1">Xuất bản</option>
            <option value="3">Hủy</option>
        </select>
    </div>
    <div class="form-group">
        <label>Nội dung</label>
        @Html.TextAreaFor(x => x.Body, new { @required = "required", @class = "form-control" })
    </div>

    <div>
        <button type="submit" id="btnSave" class="btn btn-primary pull-right m-t-n-xs">
            <i class="fa fa-check"></i>
            Lưu
        </button>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Ids").attr("data-placeholder", "[Chọn nhóm phê duyệt]");
        });
    </script>
}


