﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


</head>
<body class="@ViewData["BodyCssClass"]">
    <div class="container-fluid" id="divWrapContent">
        <div class="row">
            <div class="col-xs-12">
                <div style="padding: 20px 30px 30px">
                    @if (TempData["ErrorMessageOnView"] != null)
                    {
                        <div id="Message" class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Thông báo!</strong>
                            <ul>
                                @foreach (var message in (List<string>)TempData["ErrorMessageOnView"])
                {
                                    <li>
                                        @message
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if (parent.top.$.fancybox.current) {
                $(".fancybox-inner .modal-header .modal-title", window.parent.document).html(document.title);
                var height = $("#divWrapContent").height();
                var viewPortHeight = $(window.top).height() - 100;
                if (height > viewPortHeight) {
                    height = viewPortHeight;
                } else {
                    height += 70;
                    if (height > viewPortHeight) {
                        height = viewPortHeight;
                    }
                }
                parent.top.$.fancybox.current.height = height;
                parent.top.$.fancybox.update();
            }
        });
    </script>
</body>
</html>