﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <style>
        .container {
            max-width:100%;
          }
    </style>
</head>
<body>

<div class="container body-content login-content">
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="Message" class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Thông báo!</strong>
            <ul>
                @foreach (var message in (List<string>)TempData["ErrorMessage"])
                {
                    <li>
                        @message
                    </li>
                }
            </ul>
        </div>
    }
    @if (TempData["InfoMessage"] != null)
    {
        <div id="Message" class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Thông báo!</strong>
            <ul>
                @foreach (var message in (List<string>)TempData["InfoMessage"])
                {
                    <li>
                        @message
                    </li>
                }
            </ul>
            @Html.ValidationSummary()
        </div>
    }
    <div class="clearfix"></div>
    @RenderBody()
    <hr/>
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - BTS</p>
    </footer>
</div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

