﻿@using BTS.eBook.Admin.Controllers
@using BTS.eBook.Core
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .container {
            max-width: 100%;
            margin-left: 30px;
            margin-right: 30px;
        }
    </style>
</head>
@{
    var currentUser = HttpContext.Current.Session[Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
}
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img class="logo" src="~/Content/images/shopping-basket-icon.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @{
                    var listModules = currentUser?.ListModules;
                    if (listModules != null || currentUser.UserName == BaseController.Host)
                    {
                        <ul class="nav navbar-nav">

                            <li data-id="dashboard">
                                <a href="/" data-target="#">
                                    <i class="fa fa-fw fa-home"></i>
                                    <span class="navbar-label">Dashboard</span>
                                </a>
                            </li>

                            <li data-id="book" class="dropdown">
                                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle">
                                    <i class="fa fa-book"></i>
                                    <span class="navbar-label">Quản lý Sách</span>
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        if (listModules != null)
                                        {
                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("un-index")">
                                                    <i class="fa fa-support"></i>
                                                    Quản lĩnh vực
                                                </a>
                                            </li>
                                            var cat = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Category && lm.RoleModuleModel.View));
                                            if (cat)
                                            {
                                                <li data-id="user-list" class="">
                                                    <a href="@Url.RouteUrl("c-index")">
                                                        <i class="fa fa-book"></i>
                                                        Quản lý Sách
                                                    </a>
                                                </li>
                                            }

                                            var version = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Version && lm.RoleModuleModel.View));
                                            if (version)
                                            {
                                                <li data-id="user-list" class="">
                                                    <a href="@Url.RouteUrl("v-index")">
                                                        <i class="fa fa-bookmark"></i>
                                                        Quản lý Nội dung
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else if (currentUser.UserName == "host")
                                        {
                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("c-index")">
                                                    <i class="fa fa-book"></i>
                                                    Quản lý Sách
                                                </a>
                                            </li>
                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("v-index")">
                                                    <i class="fa fa-bookmark"></i>
                                                    Quản lý Nội dung
                                                </a>
                                            </li>
                                        }

                                    }

                                </ul>
                            </li>

                            <li data-id="user" class="dropdown">
                                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle">
                                    <i class="fa fa-user"></i>
                                    <span class="navbar-label">Quản lý người dùng</span>
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        if (listModules != null)
                                        {
                                            var group = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Version && lm.RoleModuleModel.View));
                                            if (group || currentUser.UserName == BaseController.Host)
                                            {
                                                <li data-id="user-list" class="">
                                                    <a href="@Url.RouteUrl("g-index")">
                                                        <i class="fa fa-group"></i>
                                                        Quản lý Nhóm
                                                    </a>
                                                </li>
                                            }

                                            var user = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Version && lm.RoleModuleModel.View));
                                            if (user || currentUser.UserName == BaseController.Host)
                                            {

                                                <li data-id="user-list" class="">
                                                    <a href="@Url.RouteUrl("u-index")">
                                                        <i class="fa fa-user"></i>
                                                        Quản lý người dùng
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else if (currentUser.UserName == "host")
                                        {
                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("g-index")">
                                                    <i class="fa fa-group"></i>
                                                    Quản lý Nhóm
                                                </a>
                                            </li>

                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("u-index")">
                                                    <i class="fa fa-user"></i>
                                                    Quản lý người dùng
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            @{
                                if (listModules != null)
                                {
                                    var group = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Cover && lm.RoleModuleModel.View));
                                    if (group || currentUser.UserName == BaseController.Host)
                                    {
                                        <li data-id="user" class="dropdown">
                                            <a href="@Url.RouteUrl("cv-index")">
                                                <i class="fa fa-globe"></i>
                                                <span class="navbar-label">Tổng hợp phiên bản</span>
                                            </a>
                                        </li>
                                    }
                                }
                                else if (currentUser.UserName == "host")
                                {
                                    <li data-id="user" class="dropdown">
                                        <a href="@Url.RouteUrl("cv-index")">
                                            <i class="fa fa-globe"></i>
                                            <span class="navbar-label">Tổng hợp phiên bản</span>
                                        </a>
                                    </li>
                                }
                            }
                           
                            <li data-id="common" class="dropdown">
                                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle">
                                    <i class="fa fa-cog"></i>
                                    <span class="navbar-label">Cài đặt</span>
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        if (listModules != null)
                                        {
                                            var setting = listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Setting && lm.RoleModuleModel.View));
                                            if (setting || currentUser.UserName == BaseController.Host)
                                            {

                                                <li data-id="user-list" class="">
                                                    <a href="@Url.RouteUrl("h-clear-cache")">
                                                        <i class="fa fa-recycle"></i>
                                                        Xóa cache
                                                    </a>
                                                </li>
                                            }
                                        }
                                        if (currentUser.UserName == "host")
                                        {

                                            <li data-id="user-list" class="">
                                                <a href="@Url.RouteUrl("h-clear-cache")">
                                                    <i class="fa fa-recycle"></i>
                                                    Xóa cache
                                                </a>
                                            </li>
                                        }
                                    } 
                                </ul>
                            </li>
                        </ul>
                    }
                }


                @if (User.Identity.IsAuthenticated && currentUser != null || currentUser.UserName == "host")
                {
                    <div id="navbar-tools" class="pull-right">
                        <ul class="nav navbar-nav">
                            <li data-id="help" class="dropdown">
                                <a class="dropdown-toggle" href="@Url.RouteUrl("g-change-pass", new {id = currentUser.UserId})">
                                    <i class="fa fa-support"></i>
                                    <span class="navbar-label">@currentUser.FullName</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="@Url.RouteUrl("u-logout")">
                                    <i class="fa fa-sign-out"></i>
                                    <span class="navbar-label">Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>    
    <div class="container body-content">
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="Message" class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Thông báo!</strong>
                <ul>
                    @foreach (var message in (List<string>)TempData["ErrorMessage"])
                {
                        <li>
                            @message
                        </li>
                    }
                </ul>
            </div>
        }
        @if (TempData["InfoMessage"] != null)
        {
            <div id="Message" class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Thông báo!</strong>
                <ul>
                    @foreach (var message in (List<string>)TempData["InfoMessage"])
                {
                        <li>
                            @message
                        </li>
                    }
                </ul>
                @Html.ValidationSummary()
            </div>
        }
        <div class="clearfix"></div>
        @RenderBody()

    </div>
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - BTS</p>
    </footer>

</body>
</html>
