﻿
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.main-upload', function () {

            var val = $(this).val();
            var flag = false;

            switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                case 'zip':
                    flag = true;
                    break;
                default:
                    $(this).val('');
                    flag = false;
                    break;
            }

            if (!flag) {
                alert("File không đúng định dạng.  Định dạng file là (.zip)");
            } else {
                $("#progressbar").show();
                // $(".ui-progressbar-value").show();
                uploadFiles();
            }
        });


        function uploadFiles() {
            doUploadFile(document.getElementById('UploadControl').files);
        }

        /*__Get files size - Allow select multi file__*/
        function getCompleteFileSizes() {
            var files = document.getElementById('UploadControl').files; /*Control upload file -hannv88*/
            if (files != null && files.length > 0) {
                var rawFileSize = 0;

                for (var i = 0; i < files.length; ++i) {
                    var file = files[i];

                    rawFileSize += file.size;
                }

                return rawFileSize;
            } else {
                return 0;
            }
        }

        /*__Alert file size__*/
        function fileSelected() {

            _needCheckFileSizeLimits = true;

            var uls = document.getElementById('uploadsize');
            uls.style.display = "none";

            var rawFileSize = getCompleteFileSizes();
            if (rawFileSize > 0) {

                var fileSize;
                if (rawFileSize > 1024 * 1024)
                    fileSize = (Math.round(rawFileSize * 100 / (1024 * 1024)) / 100).toString() + ' MB';
                else
                    fileSize = (Math.round(rawFileSize * 100 / 1024) / 100).toString() + ' kB';

                uls.style.display = "inline";
                uls.innerHTML = fileSize;
            }
        }

        function createXMLHttpRequest() {
            try {
                return new XMLHttpRequest();
            } catch (e) {
            }
            try {
                return new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            }
            try {
                return new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
            }
            return null;
        }


        /*Chuck file */
        function getSliceOfFile(file, offset, length) {
            if (typeof (file.slice) != "undefined") {
                return file.slice(offset, offset + length);
            } else if (typeof (file.webkitSlice) != "undefined") {
                return file.webkitSlice(offset, offset + length);
            } else if (typeof (file.mozSlice) != "undefined") {
                return file.mozSlice(offset, offset + length);
            } else {
                // No slicing, return whole file.
                return file;
            }
        }

        function setPercentage(per) {
            var percentComplete = Math.min(per, 100);

            var text = 'Đang tải tệp, <b>[0]%</b> hoàn thành, Vui lòng đợi...';
            text = text.replace('[0]', percentComplete.toString());

            document.getElementById('uploadprogress').innerHTML = text;

            // $(".ui-progressbar-value").css("width", percentComplete + "%").text(percentComplete + "%");

            var title = '[0]% uploaded';
            title = title.replace('[0]', percentComplete.toString());
            //document.title = title;
        }

        function xhrCheckRemoveEventListeners() {
            if (xhr != null) {
                // xhr.upload.removeEventListener("progress", uploadProgress, false);
                xhr.removeEventListener("load", uploadComplete, false);
                //  xhr.removeEventListener("error", uploadFailed, false);
                // xhr.removeEventListener("abort", uploadCanceled, false);

                xhr = null;
            }
        }

        function uploadComplete(evt) {

            //Kiểm tra file đang cắt để hiện thị % upload ( Đang  )
            if (_contextInfoSlice != null) {

                _sumAllFilesUploaded += _contextInfoSlice.size;

                var percentComplete = Math.min(Math.round((_sumAllFilesUploaded * 100.0) / _contextCompleteSize), 100);
                setPercentage(percentComplete);
            }


            //Tiếp tục cắt file sau lần cắt đầu tiên ( Lần thứ n )
            var file = _contextInfoFile;
            var filePart = getSliceOfFile(file, _contextInfoOffset, chunkSizeBytes); //Lần cắt thứ n sau khi cắt lần 1

            if (filePart.size > 0) {

                xhrCheckRemoveEventListeners();
                xhr = createXMLHttpRequest();

                xhr.open("POST", urlHandler, true);

                /* Event listners. */
                xhrAddEventListeners();

                xhr.setRequestHeader("Content-Type", "multipart/form-data");
                xhr.setRequestHeader("X-Unique", encodeURIComponent(document.getElementById('uniqueupload').value));
                xhr.setRequestHeader("X-File-Name", encodeURIComponent(file.name));
                xhr.setRequestHeader("X-Tk", "DapDV");
                xhr.setRequestHeader("X-File-Size", file.size);
                xhr.setRequestHeader("X-File-Type", file.type);

                xhr.setRequestHeader("X-File-Slice-Size", filePart.size);
                xhr.setRequestHeader("X-File-Slice-Offset", _contextInfoOffset);
                _IndexSliceOfFile++;
                xhr.setRequestHeader("X-File-Index_Slice_Of_File", _IndexSliceOfFile);
                xhr.setRequestHeader("X-File-Index_Of_File_In_Array_Files", _contextFileIndex);

                _contextInfoSlice = filePart;
                _contextInfoFile = file;
                _contextInfoOffset += filePart.size;


                xhr.send(filePart);
            } else if (_contextFileIndex < _contextAllFiles.length - 1) {
                // File finished, next one.
                _contextFileIndex++;

                file = _contextAllFiles[_contextFileIndex];
                xhrCheckRemoveEventListeners();
                xhr = createXMLHttpRequest();

                xhr.open("POST", urlHandler, true);

                /* Event listners. */
                xhrAddEventListeners();

                xhr.setRequestHeader("Content-Type", "multipart/form-data");
                xhr.setRequestHeader("X-Unique", encodeURIComponent(document.getElementById('uniqueupload').value));
                xhr.setRequestHeader("X-File-Name", encodeURIComponent(file.name));
                xhr.setRequestHeader("X-Tk", "DapDV");
                xhr.setRequestHeader("X-File-Size", file.size);
                xhr.setRequestHeader("X-File-Type", file.type);

                // Upload in slices.
                _contextInfoOffset = 0;
                _IndexSliceOfFile = 1;
                filePart = getSliceOfFile(file, _contextInfoOffset, chunkSizeBytes);

                xhr.setRequestHeader("X-File-Slice-Size", filePart.size);
                xhr.setRequestHeader("X-File-Slice-Offset", _contextInfoOffset);
                xhr.setRequestHeader("X-File-Index_Slice_Of_File", _IndexSliceOfFile);
                xhr.setRequestHeader("X-File-Index_Of_File_In_Array_Files", _contextFileIndex);

                _contextInfoSlice = filePart;
                _contextInfoFile = file;
                _contextInfoOffset += filePart.size;


                xhr.send(filePart);

            } else {
                // Very last file.

                //End of all file
                xhrCheckRemoveEventListeners();
                xhr = createXMLHttpRequest();
                xhr.open("POST", urlHandler, true);
                xhr.setRequestHeader("Content-Type", "multipart/form-data");
                xhr.setRequestHeader("X-Unique", encodeURIComponent(document.getElementById('uniqueupload').value));
                xhr.setRequestHeader("X-Tk", "DapDV");
                xhr.setRequestHeader("X-File-Size-All", getCompleteFileSizes());
                xhr.setRequestHeader("X-EOF", "1");
                xhr.setRequestHeader("X-CurrentUser", document.getElementById('CurrentUser').value);
                xhr.send(null);

                // Very last file.
                //Remove popup on this web browser with content "the page is asking you to confirm that you want to leave..."
                window.onbeforeunload = null;

                /* This event is raised when the server send back a response */
                //alert(evt.target.responseText);

                // Remember unique ID of uploaded files.
                //document.getElementById('uniqueupload').value = evt.target.responseText;

                // Clear to not upload again.
                document.getElementById('UploadControl').value = null;

                var text = 'Tải tài liệu hoàn thành.';
                document.getElementById('uploadprogress').innerHTML = text;
            }
        }

        /*--Add event listeners--*/
        function xhrAddEventListeners() {
            //xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            //xhr.addEventListener("error", uploadFailed, false);
            //xhr.addEventListener("abort", uploadCanceled, false);
        }

        var _contextAllFiles = null; //Biến chứa mảng file upload
        var _contextCompleteSize = 0; //Tổng dung lượng file upload
        var _contextFileIndex = 0; //Thứ tự file đang duyệt trong mảng files
        var xhr = null; //Đối tượng Send Data
        var _contextInfoFile = null; // File đang duyệt trong mảng file files
        var chunkSizeBytes = 2097152 /*524288*/; //1024 * 1024= 1048576 -  Chuck size bytes  66623104
        var _contextInfoSlice = null; //Mảng chứa byte sau khi cắt từ một file ( Cái này còn để dùng xem đã cắt hết file chưa - Hết file khi _contextInfoSlice.Size = 0 )
        var _contextInfoOffset = 0; //Vị trí offset đang cắt của file đang gửi
        var _sumAllFilesUploaded = 0; //Tổng dung lượng file upload thành công lên server ( Hiển thị % upload )
        var _needCheckFileSizeLimits = true; //Biến kiểm tra giới hạn file upload ( Kiểm tra trên server )
        var _IndexSliceOfFile = 0;
        var _IndexOfFileInArrayFiles = 0;


        /*Upload file with data is byte array*/
        function doUploadFile(files) {

            //files is object contain data upload to server
            if (files != null && files.length > 0) {
                //document.getElementById('inputPanel').style.display = "none";
                window.onbeforeunload = function () { return 'Stop uploading?'; };


                //Get file size
                _contextCompleteSize = getCompleteFileSizes();
                _contextFileIndex = 0;
                _contextAllFiles = files;

                var file = _contextAllFiles[_contextFileIndex];
                // xhrCheckRemoveEventListeners();
                xhr = createXMLHttpRequest();

                xhr.open("POST", urlHandler, true);

                /* Event listners. */
                xhrAddEventListeners();

                xhr.setRequestHeader("Content-Type", "multipart/form-data");
                xhr.setRequestHeader("X-Unique", encodeURIComponent(document.getElementById('uniqueupload').value));
                xhr.setRequestHeader("X-File-Name", encodeURIComponent(file.name));
                xhr.setRequestHeader("X-Tk", "DapDV");
                xhr.setRequestHeader("X-File-Size", file.size);
                xhr.setRequestHeader("X-File-Type", file.type);

                // Upload in slices.
                _contextInfoOffset = 0;
                _IndexSliceOfFile = 1;

                var filePart = getSliceOfFile(file, _contextInfoOffset, chunkSizeBytes);
                xhr.setRequestHeader("X-File-Slice-Size", filePart.size);
                xhr.setRequestHeader("X-File-Slice-Offset", _contextInfoOffset);
                xhr.setRequestHeader("X-File-Index_Slice_Of_File", _IndexSliceOfFile);
                xhr.setRequestHeader("X-File-Index_Of_File_In_Array_Files", _contextFileIndex);

                _contextInfoSlice = filePart;
                _contextInfoFile = file;
                _contextInfoOffset += filePart.size;

                _sumAllFilesUploaded = 0;


                xhr.send(filePart);

            }
        };
    });

</script>

<div>
    <p class="center" id="uploadprogress"></p>
    <!--<div id="progressbar"></div>-->
    <table width="500px">
        <tr>
            <td colspan="3">
                <div id="container-loading">
                    <img src="~/Content/images/loading.gif" style="width: 50px; height: 50px; " id="loading" />
                    <span class="blink_me">Đang ghép files. Vui lòng chờ......</span>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                @{
                    string uploadKey = string.Empty;
                    if (Model != null)
                    {
                        uploadKey = (string)Model;
                    }
                }
                <input type="file" name="UploadControl" id="UploadControl" class="main-upload" accept=".zip" />
                <input type="hidden" name="uniqueupload" id="uniqueupload" value="@uploadKey" />
                <input type="hidden" name="CurrentUser" id="CurrentUser" value="1" />
            </td>
        </tr>
    </table>
</div>