﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Lỗi.</h1>
    <h2 class="error">Lỗi trong quá trình gửi yêu cầu.</h2>
</hgroup>
