﻿@model BTS.eBook.Admin.Models.GroupModel
@{
    ViewBag.Title = "Cập nhật nhóm " + Model.Name;

}

@using (Html.BeginRouteForm("g-updated"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Cập nhật nhóm @Model.Name
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="false" />
            <a class="btn btn-default" href="@Url.RouteUrl("g-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên nhóm <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.HiddenFor(m => m.GroupId, new { @class = "form-control single-line" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control single-line" })
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Mã nhóm <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Loại nhóm</label>
                    </div>
                </td>
                <td class="adminData">
                    @{
                        var sl1 = "";
                        var sl2 = "";
                        var sl3 = "";
                        if (Model.GroupType == 1)
                        {
                            sl1 = "selected";
                        }
                        if (Model.GroupType == 2)
                        {
                            sl2 = "selected";
                        }
                        if (Model.GroupType == 3)
                        {
                            sl3 = "selected";
                        }
                    }
                    <select class="select2 form-control" id="GroupType" name="GroupType" required="">
                        <option value="1" @sl1>Quản trị</option>
                        <option value="2" @sl2>Phê duyệt nội dung</option>
                        <option value="3" @sl3>Bình thường</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Người dùng</label></div>
                </td>
                <td class="adminData">
                    @if (Model.UserModels != null)
                    {
                        <select class="select2 form-control" id="Users" name="Users" multiple="">
                            @foreach (var item in Model.UserModels)
                            {
                                var selected = string.Empty;
                                if (Model.Users != null && Model.Users.Contains(item.UserId))
                                {
                                    selected = "selected";
                                }

                                <option @selected value="@item.UserId">@item.FullName (@item.UserName)</option>
                            }
                        </select>
                    }
                </td>
            </tr>
            @*<tr>
                    <td class="adminTitle">
                        <div class="ctl-label"><label>Sách</label></div>
                    </td>
                    <td class="adminData">
                        @if (Model.CategoryModels != null)
                        {
                            <select class="select2 form-control" id="CategoryId" name="CategoryId">
                                <option value="@Guid.Empty">[--Chọn sách--]</option>
                                @foreach (var item in Model.CategoryModels)
                                {
                                    var selected = string.Empty;
                                    if (item.CategoryId == Model.CategoryId)
                                    {
                                        selected = "selected";
                                    }

                                    <option @selected value="@item.CategoryId">@item.Name (@item.Code)</option>
                                }
                            </select>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label"><label>Phiên bản</label></div>
                    </td>
                    <td class="adminData">
                        @if (Model.VersionModels != null)
                        {
                            <select class="select2 form-control divVersions" id="Versions" name="Versions" multiple="">
                                @foreach (var item in Model.VersionModels)
                                {
                                    var selected = string.Empty;
                                    if (Model.Versions != null && Model.Versions.Contains(item.VersionId))
                                    {
                                        selected = "selected";
                                    }

                                    <option @selected value="@item.VersionId">v.@item.VersionNo</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select id="Versions" name="Versions" class="select2 form-control divVersions" multiple=""></select>
                        }
                    </td>
                </tr>*@

        </tbody>
    </table>
                        }

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Users").attr("data-placeholder", "[Chọn người dùng]");
            $("#Versions").attr("data-placeholder", "[Chọn sách]");
        });

        $(document).on('change', '#CategoryId', function () {
            var value = $("#CategoryId").val();

            if (value == '00000000-0000-0000-0000-000000000000') {
                $(".divVersions").find('option').remove();
                $(".divVersions").select2("val", "");
                return;
            }

            getVersions(value);
        });

        function getVersions(catId) {
            var options = {};
            options.url = '@Url.RouteUrl("v-versions")';
            options.type = "POST";
            options.data = {
                catId: catId
            };
            options.dataType = "json";
            options.success = function (response) {
                //console.log(response);

                $(".divVersions").find('option').remove();
                $(".divVersions").select2("val", "");
                if (response.length > 0) {
                    $(".divVersions").select2({
                        data: response
                    });
                }
            };
            options.error = function (err) { console.log(err); };
            $.ajax(options);
        }

    </script>
}

