﻿@model BTS.eBook.Admin.Models.CoverModel
@{
    ViewBag.Title = "Tổng hợp Phiên bản";

}

@using (Html.BeginRouteForm("cv-Add"))
{
    <div class="ng-cloak" ng-app="eBook" ng-controller="coverController" ng-init="getVrC();">
        <div class="section-header">
            <div class="title">
                <i class="fa fa-globe"></i>
                Tổng hợp Phiên bản
            </div>
            <div class="options btn-toolbar text-right">
                <button type="submit" id="btnSave" class="btn btn-warning">
                    <i class="fa fa-check"></i>
                    Lưu
                </button>

                <a id="btnSaveContinue" class="btn" href="javascript:void(0);">
                    <i class="fa fa-check-circle"></i>
                    Lưu và thêm mới
                </a>
                <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0"/>
                <a class="btn btn-default" href="@Url.RouteUrl("cv-index")">
                    <i class="fa fa-backward"></i>
                    Quay trở lại
                </a>
            </div>
        </div>

        <table class="edit-form">
            <tbody>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Tên <span class="requiredField">*</span></label>
                        </div>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control single-line" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Mã <span class="requiredField">*</span></label>
                        </div>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control single-line" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Phiên bản</label>
                        </div>
                    </td>
                    <td class="adminData">
                        <label class="form-control single-line" id="lblVersionNo">v.@Model.Version</label>
                        @Html.HiddenFor(m => m.Version)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Trạng thái</label>
                        </div>
                    </td>
                    <td class="adminData">
                        @Html.CheckBoxFor(m => m.IsActive)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Chọn nhóm <span class="requiredField">*</span></label>
                        </div>
                    </td>
                    <td class="adminData">
                        @if (Model.GroupModels != null)
                        {
                            <select class="select2 form-control" id="Groups" name="Groups" multiple="multiple">
                                @foreach (var item in Model.GroupModels)
                                {
                                    <option value="@item.GroupId">@item.Name (@item.Code)</option>
                                }
                            </select>
                        }
                    </td>
                </tr>


            </tbody>
        </table>


        <div class="row">
            <div class="col-md-6">
                <div>Sách</div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sách</th>
                            <th>Phiên bản</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vrc">
                            <td>{{item.STT}}</td>
                            <td>{{item.CategoryName}}</td>
                            <td class="text-center">v.{{item.VersionNo}}</td>
                            <td class="text-center">
                                <span ng-if="item.Status==1">{{'Xuất bản'}}</span>
                                <span ng-if="item.Status==2">{{'Chờ phê duyệt'}}</span>
                            </td>
                            <td class="text-center">
                                <a href="/versions/edit?id={{item.VersionId}}"  title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                <a title="Thêm"
                                   ng-click="add(item.CategoryId,item.VersionId)"
                                   class="btn btn-success btn-sm"><i class="fa fa-arrow-right"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pager1 text-center">
                    <pagination total-items="totalItems"
                                ng-model="currentPage"
                                max-size="10"
                                class="pagination-sm"
                                boundary-links="true"
                                ng-change="pageChanged()"
                                rotate="false" num-pages="numPages" items-per-page="{{pageSize}}"></pagination>
                </div>
            </div>
            <div class="col-md-6">
                <div>Sách được chọn</div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sách</th>
                            <th>Phiên bản</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vrcSelected">
                            <td>{{$index+1}}</td>
                            <td>{{item.CategoryName}}</td>
                            <td class="text-center">{{item.VersionNo}}</td>
                            <td class="text-center">
                                <span ng-if="item.Status==1">{{'Xuất bản'}}</span>
                                <span ng-if="item.Status==2">{{'Chờ phê duyệt'}}</span>
                            </td>
                            <td class="text-center">
                                <a title="xóa"
                                   ng-click="removeVrc(vrcSelected,item)" class="btn btn-danger  btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="CategoryVersion" id="VersionModels" value="{{vrcSelected}}" />
            </div>
        </div>

    </div>

}

@section scripts
{
    <script src="~/Scripts/app/controller/eBookController.js"></script>
    <script>
        app.constant('options', {
            CoverVersion: []
        });

        $(document).ready(function () {
            $("#Groups").attr("data-placeholder", "[Chọn nhóm]");
        });


    </script>

}


