﻿@model BTS.eBook.Admin.Models.RegionModel
@{
    ViewBag.Title = "Thêm mới Nhóm";

}

@using (Html.BeginRouteForm("un-Add"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-Region"></i>
            Thêm mới Nhóm
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>

            <a id="btnSaveContinue" class="btn" href="javascript:void(0);">
                <i class="fa fa-check-circle"></i>
                Lưu và thêm mới
            </a>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
            <a class="btn btn-default" href="@Url.RouteUrl("un-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên nhóm <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Mã nhóm <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control single-line" })
                </td>
            </tr>
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#Users").attr("data-placeholder", "[Chọn người dùng]");
            $("#Versions").attr("data-placeholder", "[Chọn sách]");
        });

        $(document).on('change', '#CategoryId', function () {
            var value = $("#CategoryId").val();

            if (value == '00000000-0000-0000-0000-000000000000') {
                $(".divVersions").find('option').remove();
                $(".divVersions").select2("val", "");
                return;
            }

            getVersions(value);
        });

        function getVersions(catId) {
            var options = {};
            options.url = '@Url.RouteUrl("v-versions")';
            options.type = "POST";
            options.data = {
                catId: catId
            };
            options.dataType = "json";
            options.success = function(response) {
                //console.log(response);

                $(".divVersions").find('option').remove();
                $(".divVersions").select2("val", "");
                if (response.length > 0) {
                    $(".divVersions").select2({
                        data: response
                    });
                }
            };
            options.error = function(err) { console.log(err); };
            $.ajax(options);
        }
    </script>
}