﻿
@using MvcPaging
@model MvcPaging.IPagedList<BTS.eBook.Core.Contracts.Region.RegionRecord>

@{
    ViewBag.Title = "Quản lý lĩnh vực";

    //var currentUser = HttpContext.Current.Session[BTS.eBook.Core.Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
    //bool add = false;
    //bool delete = false;
    //bool edit = false;

    //if (currentUser != null)
    //{
    //    add = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Add));
    //    delete = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Delete));
    //    edit = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Edit));
    //}
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-support"></i>
        Quản lý lĩnh vực
    </div>
    <div class="options btn-toolbar text-right">
        @*@if (add)
        {*@
            <a href="@Url.RouteUrl("un-create")" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
        @*}*@
    </div>
</div>
@using (Html.BeginRouteForm("un-Index"))
{
    <div class="form-horizontal">
        <div class="form-Region">

            <div class="col-sm-3">
                @Html.TextBox("name", "", new { @class = "form-control", @placeholder = "Nhập tên nhóm." })
            </div>
            <div class="col-sm-2">
                @Html.TextBox("code", "", new { @class = "form-control", @placeholder = "Mã nhóm." })
            </div>
            <div class="col-sm-2">
                <button type="submit" id="search" value="search-category" class="btn"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            </div>
        </div>
    </div>

    <div id="grid-list" class="col-md-12">
        <div class="">
            <img src="/Content/images/loading.gif" id="imgLoading" style="display: none" />
            <div class="row">
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên khu vực</th>
                                <th>Mã khu vực</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="row">@item.STT</td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td class="text-center">
                                            @*@if (edit)
                                            {*@
                                                <a href="@Url.RouteUrl("un-edit", new {id = item.RegionId, name= ViewBag.Name, email= ViewBag.Code, page= ViewBag.PageNumber})" title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>

                                            @*}
                                            @if (delete)
                                            {*@
                                                <a href="@Url.RouteUrl("un-delete", new {id = item.RegionId, name= ViewBag.Name, email= ViewBag.Code, page= ViewBag.PageNumber })" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa bản ghi này không?')" title="Xóa"><i class="fa fa-trash"></i></a>

                                            @*}*@

                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    <div class="pager1 text-center">
                        @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = Model.PageSize,
                                TotalItemCount = Model.TotalItemCount,
                                CurrentPage = ViewBag.PageNumber,
                                ItemTexts = new ItemTexts() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "P", First = "Trang đầu", Last = "Trang cuối" },
                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                TooltipTitles = new TooltipTitles() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "Trang {0}.", First = "Trang đầu", Last = "Trang cuối" },
                                Size = Size.normal,
                                Alignment = Alignment.centered,
                                IsShowControls = true,
                                IsShowFirstLast = true,
                                CssClass = "",
                                IsShowPages = true
                            }, new { name = ViewBag.Name, code = ViewBag.Code }))

                    </div>
                }
            </div>
        </div>
    </div>
}
