﻿@using BTS.eBook.Admin.Controllers
@using BTS.eBook.Core
@{
    ViewBag.Title = "BTS eBook";
}
@{
    var currentUser = HttpContext.Current.Session[Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
    var listModules = currentUser?.ListModules;
}
<div class="row">
    <h1 class="text-center">BTS eBook</h1>
</div>
<div id="home-page" class="clearfix ng-cloak" ng-app="eBook" ng-controller="ebookController" ng-init="getCategories(); getUsers(); getAccessLog();">
    <div id="emenu-dashboard">
        @{
            var cat = listModules != null && listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Category && lm.RoleModuleModel.View));
            var setting = listModules != null && listModules.Any(lm => (lm.Code == Constant.ModuleFunction.Setting && lm.RoleModuleModel.View));
            var u = listModules != null && listModules.Any(lm => (lm.Code == Constant.ModuleFunction.User && lm.RoleModuleModel.View));

            <div class="row">
                @if (cat || currentUser.UserName == BaseController.Host)
                {
                    <div class="col-md-12 col-lg-6">
                        <div class="emenu-panel">
                            <div class="emenu-title">
                                Danh sách: Sách
                            </div>
                            <div class="emenu-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ảnh</th>
                                            <th>Tên sách</th>
                                            <th>Mã sách</th>
                                            <th>Phiên bản</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in categories">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <img ng-src="{{item.ImageUrl}}" class="text-center" alt="{{item.Name}}"
                                                     width="105"
                                                     ng-image-swap="{{item.ImageUrl}}" data-image-swap="/Content/images/no_photo_available_large.png">
                                            </td>
                                            <td>{{item.Name}}</td>
                                            <td>{{item.Code}}</td>
                                            <td>
                                                <span ng-repeat="v in item.Versions">v.{{v.VersionNo}}<span ng-hide="$last">; </span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }

                @if (u || currentUser.UserName == BaseController.Host)
                {
                   
                    <div class="col-md-12 col-lg-6">
                        <div class="emenu-panel">
                            <div class="emenu-title">
                                Danh sách Người dùng

                            </div>
                            <div class="emenu-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ảnh</th>
                                            <th>Tên đăng nhập</th>
                                            <th>Tên đầy đủ</th>
                                            <th>Email</th>
                                            <th>Đăng nhập lần cuối</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in users | limitTo:6">
                                            <td>{{$index+1}}</td>
                                            <td class="text-center">
                                                <img ng-src="{{item.AvataUrl}}" class="text-center" alt="{{item.Name}}"
                                                     width="50"
                                                     ng-image-swap="{{item.AvataUrl}}" data-image-swap="/Content/images/no_photo_available_large.png">
                                            </td>
                                            <td>{{item.UserName}}</td>
                                            <td>{{item.FullName}}</td>
                                            <td>{{item.Email}}</td>
                                            <td>
                                                {{item.LastModifyTime}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pager1 text-center">
                                    <pagination total-items="totalUserItems"
                                                ng-model="currentUserPage"
                                                max-size="10"
                                                class="pagination-sm"
                                                boundary-links="true"
                                                ng-change="pageUserChanged()"
                                                rotate="false" num-pages="numPages" items-per-page="{{pageSize}}"></pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                   
                
                }
               
            </div>

        }
        @{
            if (setting || currentUser.UserName == BaseController.Host)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="emenu-panel">
                            <div class="emenu-title">
                                Lịch sử
                            </div>
                            <div class="emenu-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th  class="text-left">#</th>
                                            <th  class="text-left">Hành động</th>
                                            <th  class="text-left">Chức năng</th>
                                            <th  class="text-left">Người tạo</th>
                                            <th  class="text-left">Ngày tạo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in accessLog">
                                            <td>{{item.STT}}</td>
                                            <td>{{item.ActionName}}</td>
                                            <td>{{item.FunctionName}}</td>
                                            <td>{{item.FullName}}</td>
                                            <td>{{item.CreatedDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pager1 text-center">
                                    <pagination total-items="totalAccItems"
                                                ng-model="currentAccessPage"
                                                max-size="10"
                                                class="pagination-sm"
                                                boundary-links="true"
                                                ng-change="pageAccessChanged()"
                                                rotate="false" num-pages="numPages" items-per-page="{{pageSize}}"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        }

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/app/controller/eBookController.js"></script>
    <script src="~/Scripts/app/directives/ngImageSwap.js"></script>

    <script>
        app.constant('options', {

        });

        $(document).ready(function () {

        });

    </script>
}
