﻿@model BTS.eBook.Admin.Models.ModuleModel
@{
    ViewBag.Title = "Thêm mới Chức năng";

}

@using (Html.BeginRouteForm("m-add"))
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-sellsy"></i>
            Thêm mới Chức năng
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>

            <a id="btnSaveContinue" class="btn" href="javascript:void(0);">
                <i class="fa fa-check-circle"></i>
                Lưu và thêm mới
            </a>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
            <a class="btn btn-default" href="@Url.RouteUrl("u-role-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại Quyền
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên chức năng <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Mã chức năng <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
        </tbody>
    </table>
}
