﻿@model BTS.eBook.Admin.Models.UserModel
@{
    ViewBag.Title = "Thêm mới người dùng";

}

@using (Html.BeginRouteForm("u-add"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Thêm mới người dùng
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>

            <a id="btnSaveContinue" class="btn" href="javascript:void(0);">
                <i class="fa fa-check-circle"></i>
                Lưu và thêm mới
            </a>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
            <a class="btn btn-default" href="@Url.RouteUrl("u-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đăng nhập <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Mật khẩu <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đầy đủ <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Số điện thoại</label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Địa chỉ Email </label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control single-line", @type = "email" })
                    <div class="label label-danger">@ViewBag.Error</div>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Quyền</label>
                    </div>
                </td>
                <td class="adminData">
                    @if (Model.RoleModel != null)
                {
                        <select class="select2 form-control" id="Roles" name="Roles" multiple="">
                            @foreach (var role in Model.RoleModel)
                            {
                                <option value="@role.RoleId">@role.Name</option>
                            }
                        </select>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#Roles").attr("data-placeholder", "[Chọn quyền]");
        });
    </script>
}