﻿@model BTS.eBook.Admin.Models.UserModel
@{
    ViewBag.Title = "Cập nhật người dùng " + Model.UserName;

}

@using (Html.BeginRouteForm("u-updated"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Cập nhật người dùng @Model.UserName
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="false" />
            <a class="btn btn-default" href="@Url.RouteUrl("u-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đăng nhập <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control single-line", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.UserId, new { @class = "form-control single-line" })
                    @Html.HiddenFor(m => m.PasswordHash, new { @class = "form-control single-line" })
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đầy đủ <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Số điện thoại</label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Địa chỉ Email </label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control single-line"})
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Quyền</label>
                    </div>
                </td>
                <td class="adminData">
                    @if (Model.RoleModel != null)
                {
                        <select class="select2 form-control" id="Roles" name="Roles" multiple="">
                            @foreach (var role in Model.RoleModel)
                            {
                                var selected = "";
                                if (Model.Roles.Contains(role.RoleId))
                                {
                                    selected = "selected";
                                }
                                <option @selected value="@role.RoleId">@role.Name</option>
                            }
                        </select>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#Roles").attr("data-placeholder", "[Chọn quyền]");
        });
    </script>
}

