﻿
@model BTS.eBook.Admin.Models.UserModel
@{
    ViewBag.Title = "Đổi mật khẩu " + Model.UserName;

}

@using (Html.BeginRouteForm("g-save-change-pass"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-key"></i>
            Đổi mật khẩu @Model.UserName
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="false" />
            <a class="btn btn-default" href="@Url.RouteUrl("index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đăng nhập <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control single-line", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.UserId, new { @class = "form-control single-line" })
                    @Html.HiddenFor(m => m.Email, new { @class = "form-control single-line" })
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Mật khẩu mới <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.Password("PasswordHash", "", new { @class = "form-control single-line" })
                </td>
            </tr>
        </tbody>
    </table>
}



