﻿@model BTS.eBook.Admin.Models.ImportModel
@{
    ViewBag.Title = "Import người dùng";

}

@using (Html.BeginRouteForm("u-save-import-user", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Import người dùng
        </div>
        <div class="options btn-toolbar text-right">
            <a class="btn btn-warning" href="~/Template/User.xls">
                <i class="fa fa-download"></i>
                Tải mẫu Import
            </a>
            <button type="submit" id="btnSave" class="btn btn-success">
                <i class="fa fa-check"></i>
                Lưu
            </button>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
            <a class="btn btn-default" href="@Url.RouteUrl("u-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Tiền tố <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control single-line" }) (BTS --> BTS0001, BTS0002)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Mật khẩu mặc định  <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsDefault) (12345678)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Nhóm <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    @if (Model.GroupRecord != null)
                {
                        <select class="select2 form-control" id="Groups" name="Groups" multiple="">
                            @foreach (var item in Model.GroupRecord)
                            {
                                <option value="@item.GroupId">@item.Name (@item.Code)</option>
                            }
                        </select>
                    }
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Chọn file <span class="requiredField">*</span></label>
                    </div>
                </td>
                <td class="adminData">
                    <input class="file" type="file" name="file" id="file" />
                </td>
            </tr>
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Groups").attr("data-placeholder", "[Chọn nhóm]");
        });
    </script>
}
