﻿
@using BTS.eBook.Core
@using MvcPaging
@model MvcPaging.IPagedList<BTS.eBook.Core.Contracts.User.UserRecord>

@{
    ViewBag.Title = "Quản lý Người dùng";

    var currentUser = HttpContext.Current.Session[BTS.eBook.Core.Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
    bool add = false;
    bool delete = false;
    bool edit = false;

    if (currentUser != null && currentUser.UserName != "host")
    {
        add = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Add));
        delete = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Delete));
        edit = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Edit));
    }
}
<input type="hidden" value="@ViewBag.Import" id="import" />
<div class="section-header">
    <div class="title">
        <i class="fa fa-user"></i>
        Danh sách Người dùng
    </div>
    <div class="options btn-toolbar text-right">
        @if (add)
        {
            <a href="@Url.RouteUrl("u-create")" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Thêm mới
            </a>
            <a href="@Url.RouteUrl("u-role-create")" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Thêm quyền chức năng
            </a>
            <a href="@Url.RouteUrl("u-import-user")" class="btn btn-success">
                <i class="fa fa-upload"></i>
                Import người dùng
            </a>

            <a href="#" class="btn btn-success u-export">
                <i class="fa fa-download"></i>
                Export người dùng
            </a>
        }

    </div>
</div>
@using (Html.BeginRouteForm("u-Index"))
{
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-sm-3">
                @Html.TextBox("userName", "", new { @class = "form-control", @placeholder = "Nhập Tên người dùng." })
            </div>
            <div class="col-sm-2">
                @Html.TextBox("email", "", new { @class = "form-control", @placeholder = "Nhập email." })
            </div>
            <div class="col-sm-2">
                <button type="submit" id="search" value="search-category" class="btn"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            </div>
            <div class="col-sm-2 pull-right text-right">
                <a class="btn btn-danger  btn-sm" onclick="bts.common.onDelete('@Constant.ModuleFunction.User'); return false;" title="Xóa nhiều bản ghi"><i class="fa fa-trash"></i>&nbsp;Xóa nhiều bản ghi</a>
            </div>
        </div>
    </div>

    <div id="grid-list" class="col-md-12">
        <div class="">
            <img src="/Content/images/loading.gif" id="imgLoading" style="display: none" />
            <div class="row">
                <div>
                    <table class="table table-bordered table-striped tbl-Index">
                        <thead>
                            <tr>
                                <th scope="col" class="indexNumber">
                                    @Html.CheckBox("CheckAll", new { @id = "CheckAll" })
                                <th>#</th>
                                <th>Tên đăng nhập</th>
                                <th>Tên đầy đủ</th>
                                <th>Địa chỉ Email</th>
                                <th>Ngày tạo</th>
                                @if (add)
                                {
                                    <th>Trạng thái</th>
                                }
                                <th>
                                    Chức năng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                int i = ((int)ViewBag.PageNumber - 1) * Constant.DefaultPageSize;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" id="@item.UserId" class="chkclass" value="@item.UserId" name="CheckRecord" />
                                            @Html.Hidden(item.UserId.ToString())
                                        </td>
                                        <td class="text-center">@i</td>
                                        <td>@item.UserName</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                        <td>@item.CreateTime.ToString("dd/MM/yyyy HH:ss:mm tt")</td>
                                        @if (add)
                                        {
                                            <td class="text-center">
                                                @{
                                                    var cssClass = "btn-danger";
                                                    var isActive = "True";
                                                    var text = "Bật";
                                                    if (item.IsActive)
                                                    {
                                                        cssClass = "btn-success";
                                                        isActive = "False";
                                                        text = "Tắt";
                                                    }
                                                }
                                                <a data-func="@Constant.ModuleFunction.User"
                                                   data-id="@item.UserId"
                                                   data-active="@isActive"
                                                   class="btn btn-sm @cssClass turn-off turnOff_@item.UserId" title="@text"><i class="fa fa-power-off"></i></a>
                                            </td>
                                        }
                                        <td class="text-center">
                                            @if (edit || currentUser.UserName == "host")
                                            {
                                                <a href="@Url.RouteUrl("u-edit", new {id = item.UserId, userName = ViewBag.UserName, email = ViewBag.Email, page = ViewBag.PageNumber})" title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.RouteUrl("u-change-pass", new {id = item.UserId})" title="Đổi mật khẩu" class="btn btn-sm"><i class="fa fa-key"></i></a>
                                            }
                                            @if (delete)
                                            {
                                                <a href="@Url.RouteUrl("u-delete", new {id = item.UserId, userName = ViewBag.UserName, email = ViewBag.Email, page = ViewBag.PageNumber})" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa bản ghi này không?')" title="Xóa"><i class="fa fa-trash"></i></a>

                                            }
                                        </td>
                                    </tr>
                                                    }

                                                }

                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    <div class="pager1 text-center">
                        @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = Model.PageSize,
                                TotalItemCount = Model.TotalItemCount,
                                CurrentPage = ViewBag.PageNumber,
                                ItemTexts = new ItemTexts() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "P", First = "Trang đầu", Last = "Trang cuối" },
                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                TooltipTitles = new TooltipTitles() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "Trang {0}.", First = "Trang đầu", Last = "Trang cuối" },
                                Size = Size.normal,
                                Alignment = Alignment.centered,
                                IsShowControls = true,
                                IsShowFirstLast = true,
                                CssClass = "",
                                IsShowPages = true
                            }, new { userName = ViewBag.UserName, email = ViewBag.Email }))

                    </div>
                }
            </div>
        </div>
    </div>
                                                }

@section scripts
{
    <script>
        $(document).ready(function () {
            if ($("#import").val() == 1) {
                window.location = '@Url.RouteUrl("download-file")';
            }
        });

        $(document).on('click', '.u-export', function () {
            window.location = '/users/export-user?name=' + $("#userName").val();
        });
    </script>
}
