﻿@model BTS.eBook.Admin.Models.LoginModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2><i class="fa fa-sign-in"></i>  Đăng nhập</h2>
<hr />
@using (Html.BeginRouteForm("u-post-login", FormMethod.Post))
{

    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle"></td>
                <td class="adminData">
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đăng nhập</label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control single-line",@placeholder="Tên đăng nhập" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle"></td>
                <td class="adminData">
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Mật khẩu</label></div>
                </td>
                <td class="adminData">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control single-line", @placeholder = "Mật khẩu" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label></label></div>
                </td>
                <td class="adminData">
                    <div class="label label-danger">@ViewBag.Error</div>
                    <div class="btn-login">
                        <button type="submit" id="btnSave" class="btn btn-success">
                            <i class="fa fa-sign-in"></i>
                            Đăng nhập
                        </button>
                        <a href="@Url.RouteUrl("user-change-pass")" class="btn btn-default">
                            <i class="fa fa-key"></i>
                            Đổi mật khẩu
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}

