﻿
@using BTS.eBook.Core
@model IEnumerable<BTS.eBook.Core.Contracts.User.RoleRecord>

@{
    ViewBag.Title = "Danh sách Quyền";
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-user"></i>
        Danh sách Quyền
    </div>
    <div class="options btn-toolbar text-right">
        <a href="@Url.RouteUrl("u-role-create")" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Thêm mới
        </a>
        <a href="@Url.RouteUrl("m-create")" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Thêm mới chức năng
        </a>
        <a class="btn btn-default" href="@Url.RouteUrl("u-index")">
            <i class="fa fa-backward"></i>
            Danh sách người dùng
        </a>
    </div>
</div>

    <div id="grid-list" class="col-md-12">
        <div class="">
            <img src="/Content/images/loading.gif" id="imgLoading" style="display: none" />
            <div class="row">
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên quyền</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td class="text-center">
                                            @{
                                                var cssClass = "btn-danger";
                                                var isActive = "True";
                                                var text = "Bật";
                                                if (item.IsActive)
                                                {
                                                    cssClass = "btn-success";
                                                    isActive = "False";
                                                    text = "Tắt";
                                                }
                                            }
                                            <a data-func="@Constant.ModuleFunction.Role"
                                               data-id="@item.RoleId"
                                               data-active="@isActive"
                                               class="btn btn-sm @cssClass turn-off turnOff_@item.RoleId" title="@text"><i class="fa fa-power-off"></i></a>
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.RouteUrl("u-role-edit", new {id = item.RoleId})" title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.RouteUrl("u-role-delete", new {id = item.RoleId})" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa bản ghi này không?')" title="Xóa"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
