﻿
@model BTS.eBook.Admin.Models.GroupViewModel
@{
    ViewBag.Title = "Cập nhật mới Quyền - Chức năng: " + Model.RoleViewModel.Name;

}

@using (Html.BeginRouteForm("u-role-update", FormMethod.Post, new { id = "frm-target" }))
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Cập nhật mới Quyền - Chức năng @Model.RoleViewModel.Name
            @Html.HiddenFor(x => x.RoleViewModel.RoleId)
        </div>
        <div class="options btn-toolbar text-right">
            <button type="button" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>

            <a class="btn btn-default" href="@Url.RouteUrl("u-role-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>

    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Role</label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.RoleViewModel.Name, new { @class = "form-control role-name", @readonly = "readonly", @maxlength = 30 })
                </td>
            </tr>
            <tr>
                <td class="adminTitle" valign="top">
                    <div class="ctl-label">
                        <label> Chức năng</label>
                    </div>
                </td>
                <td class="adminData">
                    <table class="table table-bordered" id="roleGroup">
                        <thead>
                        <th>Chức năng</th>
                        <th>Thêm</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                        <th>Xem</th>
                        <th>Xuất bản</th>
                        </thead>
                        <tbody>
                            @if (Model.ListModule.Any())
                            {
                                foreach (var item in Model.ListModule)
                                {
                                    <tr>
                                        <td class="text-left module-name text-overflow" title="@item.Name">@item.Name</td>
                                        <td class="text-center"><input type="hidden" data-id="@item.ModuleId" id="checkboxValue" /> @Html.CheckBoxFor(m => item.RoleModuleRecord.Add)</td>
                                        <td class="text-center"><input type="hidden" data-id="@item.ModuleId" id="checkboxValue" />@Html.CheckBoxFor(m => item.RoleModuleRecord.Edit)</td>
                                        <td class="text-center"><input type="hidden" data-id="@item.ModuleId" id="checkboxValue" />@Html.CheckBoxFor(m => item.RoleModuleRecord.Delete)</td>
                                        <td class="text-center"><input type="hidden" data-id="@item.ModuleId" id="checkboxValue" />@Html.CheckBoxFor(m => item.RoleModuleRecord.View)</td>
                                        <td class="text-center"><input type="hidden" data-id="@item.ModuleId" id="checkboxValue" />@Html.CheckBoxFor(m => item.RoleModuleRecord.Publish)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div id="frmRole"></div>
                </td>
            </tr>
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).on('click', '#btnSave', function (e) {

            //alert(1);
            if ($(".role-name").val() === "") {
                alert("Nhập tên Quyền");
                $("input [name='Name']").focus();
                return false;
            }
            var listModule = [];
            var listCheckBox = $("#roleGroup tbody tr");
            $(listCheckBox).each(function (index, elem) {
                var isChecked = false;
                var module = new window.RoleModuleModel();
                $(elem).find("input[type=checkbox]").each(function (i, subElem) {
                    module.ModuleId = $(subElem).parent("td").children("#checkboxValue").attr("data-id");
                    var value = $(subElem).is(":checked");
                    switch (i) {
                        case 0:
                            isChecked = true;
                            module.Add = value;
                            break;
                        case 1:
                            isChecked = true;
                            module.Edit = value;
                            break;
                        case 2:
                            isChecked = true;
                            module.Delete = value;
                            break;
                        case 3:
                            isChecked = true;
                            module.View = value;
                            break;
                        case 4:
                            isChecked = true;
                            module.Publish = value;
                            break;
                    }
                });
                if (isChecked) {
                    listModule.push(module);
                }
            });

            //check existed list module
            if (listModule != null) {
                $("#frmRole").append("<input type='hidden' name='listModule' value='" + JSON.stringify(listModule) + "' />");
            }

            $("#frm-target").submit();

        });

        function RoleModuleModel(add, edit, remove, view, publish, moduleId) {
            this.ModuleId = moduleId;
            this.Add = add;
            this.Edit = edit;
            this.Delete = remove;
            this.View = view;
            this.Publish = publish;
        }

    </script>
}




