﻿@model BTS.eBook.Admin.Models.UserFunction
    @{
        ViewBag.Title = "Phân quyền chức năng:" + Model.FullName;

    }

    @using (Html.BeginRouteForm("u-user-function"))
    {

        <div class="section-header">
            <div class="title">
                <i class="fa fa-user"></i>
                Phân quyền chức năng @Model.FullName
            </div>
            <div class="options btn-toolbar text-right">
                <button type="submit" id="btnSave" class="btn btn-warning">
                    <i class="fa fa-check"></i>
                    Lưu
                </button>

                <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="0" />
                <a class="btn btn-default" href="@Url.RouteUrl("u-index")">
                    <i class="fa fa-backward"></i>
                    Quay trở lại
                </a>
            </div>
        </div>
        <table class="edit-form">
            <tbody>
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label"><label>Người dùng <span class="requiredField">*</span></label></div>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control single-line" })
                    </td>
                </tr>
               
                <tr>
                    <td class="adminTitle">
                        <div class="ctl-label">
                            <label>Quyền</label>
                        </div>
                    </td>
                    <td class="adminData">
                        @if (Model.UsersFunction != null)
                        {
                            <select class="select2 form-control" id="UserType" name="UserType">
                                @foreach (var role in Model.UsersFunction)
                                {
                                    <option value="@role.UserFunctionId">@role.FunctionName</option>
                                }
                            </select>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
