﻿
@model BTS.eBook.Admin.Models.UserModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2><i class="fa fa-key"></i>  Đổi mật khẩu</h2>
<hr />
@using (Html.BeginRouteForm("save-user-change-pass"))
{
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên đăng nhập</label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control single-line", @placeholder = "Tên đăng nhập" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Mật khẩu mới</label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control single-line", @placeholder = "Mật khẩu mới" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label>Email</label>
                    </div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control single-line", @placeholder = "Địa chỉ Email", @type = "email" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label">
                        <label></label>
                    </div>
                </td>
                <td class="adminData">
                    <div class="label label-danger">@ViewBag.Error</div>
                    <button type="submit" id="btnSave" class="btn btn-success">
                        <i class="fa fa-key"></i>
                        Đổi mật khẩu
                    </button>
                    <a href="/" class="btn btn-default">
                        <i class="fa fa-sign-in"></i>
                        Đăng nhập
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}



