﻿@model BTS.eBook.Admin.Models.CategoryModel
@{
    ViewBag.Title = "Cập nhật Sách " + Model.Name;

    var url = "/Content/images/no_photo_available_large.png";
    if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        url = Model.ImageUrl;
    }
}

@using (Html.BeginRouteForm("c-updated"))
{

    <div class="section-header">
        <div class="title">
            <i class="fa fa-book"></i>
            Cập nhật sách @Model.Name
        </div>
        <div class="options btn-toolbar text-right">
            <button type="submit" id="btnSave" class="btn btn-warning">
                <i class="fa fa-check"></i>
                Lưu
            </button>
            <input type="hidden" id="hdIsSaveContinue" name="hdIsSaveContinue" value="false" />
            <a class="btn btn-default" href="@Url.RouteUrl("c-index")">
                <i class="fa fa-backward"></i>
                Quay trở lại
            </a>
        </div>
    </div>
    <table class="edit-form">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Lĩnh vực <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @if (Model.RegionModels != null)
                    {
                        <select class="select2 form-control" id="RegionId" name="RegionId">
                            @foreach (var item in Model.RegionModels)
                            {
                                <option value="@item.RegionId">@item.Name (@item.Code)</option>
                            }
                        </select>
                    }
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Tên sách <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.HiddenFor(m => m.CategoryId, new { @class = "form-control single-line" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control single-line" })
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Mã sách <span class="requiredField">*</span></label></div>
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Trạng thái</label></div>
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(m => m.IsActive)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <div class="ctl-label"><label>Ảnh đại diện</label></div>
                </td>
                <td class="adminData">
                    <input class="file" type="file" name="file" id="file"/>
                    <img id="imgid" height="125" width="200"  src="@url"/>
                    <img id="imgDe" src="~/Content/images/delete.png" style="cursor: pointer" onclick="deleteImg();" />
                    @Html.HiddenFor(x => x.ImageUrl, new { @id = "imgUrl" })
                </td>
            </tr>
        </tbody>
    </table>
}
 



@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).ready(function () {
                $("#RegionId").attr("data-placeholder", "[Chọn lĩnh vực]");
            });
        });
        /*Upload Image*/
        $(document).on('change', '.file', function () {
            $.each($('.file'), function () {
                var formData = new window.FormData();
                var fileInput = document.getElementById('file');
                var file = fileInput.files[0];
                formData.append("file", file);
                $.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl("c-upload")',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (list) {
                        var item = list.split(";#");
                        if (item[0].length > 0) {
                            $('#imgid').removeClass("hide");
                            $('#imgDe').removeClass("hide");
                            $('.file').addClass("hide");

                            $("[id$='imgid']").attr("src", item[0]);
                            $("#imgUrl").val(item[0]);
                            document.getElementById('file').value = "";

                        } else {
                            alert(item[1]);
                        }

                    },
                    error: function () {
                        alert("Upload error");
                    }
                });

            });
        });

        function deleteImg() {
            if (confirm('Bạn có muốn xóa ảnh này không ?')) {
                $('#imgid').attr('src', '');
                $("#imgUrl").val('');
                $('#imgid').addClass("hide");
                $('#imgDe').addClass("hide");
                $('.file').removeClass("hide");
            }
        }
    </script>

}
