﻿
@using BTS.eBook.Core
@using MvcPaging
@model MvcPaging.IPagedList<BTS.eBook.Core.Contracts.Category.CategoryRecord>

@{
    ViewBag.Title = "Quản lý Sách";

    var currentUser = HttpContext.Current.Session[BTS.eBook.Core.Constant.SESSION_LOGIN_USER] as BTS.eBook.Admin.Authentication.EbookMembershipUserCurrent;
    bool add = false;
    bool delete = false;
    bool edit = false;

    if (currentUser != null)
    {
        add = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Add));
        delete = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Delete));
        edit = currentUser.ListModules.Any(lm => (lm.RoleModuleModel.Edit));
    }
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-book"></i>
        Danh sách Sách
    </div>
    <div class="options btn-toolbar text-right">
        @if (add)
        {
            <a href="@Url.RouteUrl("c-create")" class="btn btn-primary">
                <i class="fa fa-plus"></i> Thêm mới
            </a>
        }
    </div>
</div>
@using (Html.BeginRouteForm("c-Index"))
{
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-sm-3">
                @Html.TextBox("name", "", new { @class = "form-control", @placeholder = "Nhập tên sách." })
            </div>
            <div class="col-sm-2">
                @Html.TextBox("code", "", new { @class = "form-control", @placeholder = "Mã sách." })
            </div>
            <div class="col-sm-2">
                <button type="submit" id="search" value="search-category" class="btn"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            </div>
            <div class="col-sm-2 pull-right text-right">
                <a class="btn btn-danger btn-sm" onclick="bts.common.onDelete('@Constant.ModuleFunction.Category'); return false;" title="Xóa nhiều bản ghi"><i class="fa fa-trash"></i>&nbsp;Xóa nhiều bản ghi</a>
            </div>
        </div>
    </div>

    <div id="grid-list" class="col-md-12">
        <div class="">
            <img src="/Content/images/loading.gif" id="imgLoading" style="display: none" />
            <div class="row">
                <div>
                    <table class="table table-bordered table-striped tbl-Index">
                        <thead>
                            <tr>
                                <th scope="col" class="indexNumber">
                                    @Html.CheckBox("CheckAll", new { @id = "CheckAll" })
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Tên sách</th>
                                <th>Mã sách</th>
                                @if (add)
                                {
                                    <th>Trạng thái</th>
                                }
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" id="@item.CategoryId" class="chkclass" value="@item.CategoryId" name="CheckRecord" />
                                            @Html.Hidden(item.CategoryId.ToString())
                                        </td>
                                        <td class="text-center">@item.STT</td>
                                        <td class="text-center">
                                            <img align="middle" src="@BTS.eBook.Core.Helper.ImageHelper.ProcessImage(item.ImageUrl, "C200X150")" width="125" />
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        @if (add)
                                        {
                                            <td class="text-center">

                                                @{
                                                    var cssClass = "btn-danger";
                                                    var isActive = "True";
                                                    var text = "Bật";
                                                    if (item.IsActive)
                                                    {
                                                        cssClass = "btn-success";
                                                        isActive = "False";
                                                        text = "Tắt";
                                                    }
                                                }
                                                <a data-func="@Constant.ModuleFunction.Category"
                                                   data-id="@item.CategoryId"
                                                   data-active="@isActive"
                                                   class="btn btn-sm @cssClass turn-off turnOff_@item.CategoryId" title="@text"><i class="fa fa-power-off"></i></a>
                                            </td>
                                                    }
                                        <td class="text-center">
                                            @if (edit)
                                            {
                                                <a href="@Url.RouteUrl("v-create")" title="Thêm nội dung" class="btn btn-sm"><i class="fa fa-plus-circle"></i></a>
                                                <a href="@Url.RouteUrl("c-edit", new {id = item.CategoryId, name = ViewBag.Name, email = ViewBag.Code, page = ViewBag.PageNumber})" title="Cập nhật" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                            }
                                            @if (delete)
                                            {
                                                <a href="@Url.RouteUrl("c-delete", new {id = item.CategoryId, name = ViewBag.Name, email = ViewBag.Code, page = ViewBag.PageNumber})" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa bản ghi này không?')" title="Xóa"><i class="fa fa-trash"></i></a>
                                            }
                                        </td>
                                    </tr>
                                                        }

                                                    }

                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    <div class="pager1 text-center">
                        @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = Model.PageSize,
                                TotalItemCount = Model.TotalItemCount,
                                CurrentPage = ViewBag.PageNumber,
                                ItemTexts = new ItemTexts() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "P", First = "Trang đầu", Last = "Trang cuối" },
                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                TooltipTitles = new TooltipTitles() { Next = "Trang tiếp theo", Previous = "Quay lại", Page = "Trang {0}.", First = "Trang đầu", Last = "Trang cuối" },
                                Size = Size.normal,
                                Alignment = Alignment.centered,
                                IsShowControls = true,
                                IsShowFirstLast = true,
                                CssClass = "",
                                IsShowPages = true
                            }, new { name = ViewBag.Name, code = ViewBag.Code }))

                    </div>
                }
            </div>
        </div>
    </div>
                                                    }
