﻿body {
    padding-bottom: 20px;
    background-color: #F5F5F5;
}

footer {
    margin-bottom: 20px;
}

.un-col-padding {
    padding: 0;
}

a:focus {
    outline: 0;
}

.logo {
    max-height: 30px;
}

#navbar-tools {
    margin-right: -30px;
}

#ajax-busy {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 3px;
    z-index: 200;
    background-color: #ffab40;
    -webkit-transition: opacity .05s ease-in;
    -o-transition: opacity .05s ease-in;
    transition: opacity .05s ease-in;
}

    #ajax-busy.busy {
        opacity: 1;
    }

        #ajax-busy.busy > .bar {
            content: "";
            display: inline;
            position: absolute;
            width: 0;
            height: 100%;
            left: 50%;
            text-align: center;
            animation: loading 1.5s cubic-bezier(.445,.05,.55,.95) infinite;
            -webkit-animation: loading 1.5s cubic-bezier(.445,.05,.55,.95) infinite;
        }

    #ajax-busy > .bar:nth-child(1) {
        background-color: #fff;
    }

    #ajax-busy > .bar:nth-child(2) {
        background-color: #3f51b5;
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
    }

    #ajax-busy > .bar:nth-child(3) {
        background-color: #ffab40;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    50% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

@-webkit-keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    50% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

/*.field-validation-error{
     background-color: rgb(251, 241, 222);
border: 1px solid rgb(255, 227, 177);
padding: 0px 5px;
border-radius: 4px;
color: red;
text-decoration: underline;
 }*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -50px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.login-content {
    margin: 100px auto;
    width: 600px;
}

.login-content .label-danger {
    font-size: 12px;
}

.login-content .btn-login {
    margin-top: 10px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

/* Navbar */
#navbar .nav-header {
    text-shadow: none;
    padding-left: 20px;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

#navbar .nav > li > a {
    min-width: 60px;
    height: auto;
    padding: 12px 6px !important;
    text-align: center;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
    transition: opacity 0.1s linear 0s, background-color 0.1s linear 0s;
}

    #navbar .nav > li > a:hover {
        background: rgba(255, 255, 255, .3) none repeat scroll 0% 0%;
    }

a .navbar-label {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin: 0px;
}

#navbar a .fa {
    position: relative;
    text-align: center;
    width: 22px;
    font-size: 19px;
}

ul.nav li.dropdown > ul.dropdown-menu {
    display: none;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu li > a {
    padding: 5px 30px 5px 20px;
    text-shadow: none;
}

ul.dropdown-menu a .fa {
    color: #6D6D6D;
    margin-right: 6px;
    font-size: 17px !important;
    vertical-align: bottom;
}

/* Table */
.table-data .top, .table-data .bottom {
    background-color: #F7F7F7;
    width: 100%;
    vertical-align: middle;
    display: block;
    padding: 5px 10px;
    border: solid 1px #ddd;
}

.table-data .top {
    border-bottom: 0;
}

.table-data .bottom {
    border-top: 0;
}

/*.table-data .fa {
    color: #333;
}*/

.table-data thead {
    background-color: #F7F7F7;
}

.table-data tr:nth-child(even) {
    background-color: #F7F7F7;
}

table.edit-form td {
    padding: 5px;
}
/* Product Management */
.section-header {
    padding: 10px 0;
}

    .section-header .title {
        position: relative;
        float: left;
        left: 5px;
        font-family: "Segoe UI Light","Segoe UI",Tahoma,"Helvetica Neue",Helvetica,Arial,"sans-serif";
        font-weight: 100;
        color: #444;
        font-size: 20px;
        line-height: 32px;
        height: 32px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-shadow: none;
    }

    .section-header .options.btn-toolbar {
        margin: 0px;
    }

    .section-header .options {
    }

    .section-header.sticky {
        position: fixed;
        z-index: 10;
        left: 30px;
        right: 30px;
        top: 0px;
        background: #F7F7F7 none repeat scroll 0% 0%;
        text-shadow: none;
        border-bottom: 1px solid #CCC;
        padding-right: 30px;
        padding-left: 30px;
    }

        .section-header.sticky + form,
        .section-header.sticky + .div-info,
        .section-header.sticky + .table-data {
            margin-top: 52px;
        }

td.adminTitle {
    padding: 4px;
    width: 300px;
}

    td.adminTitle > .ctl-label {
        position: relative;
        text-align: right;
        vertical-align: middle;
    }

        td.adminTitle > .ctl-label label {
            display: inline-block;
            padding-right: 20px;
            margin-top: 1px;
            margin-bottom: 0px;
            font-weight: normal;
        }

        td.adminTitle > .ctl-label a.hint {
            position: absolute;
            width: 16px;
            height: 16px;
            right: 0px;
            top: 50%;
            margin-top: -8px;
            text-decoration: none;
            outline: 0px none;
            color: #999;
            transition: all 0.1s linear 0s;
            opacity: 0;
        }

    td.adminTitle:hover > .ctl-label a.hint {
        opacity: 1;
    }

    td.adminTitle > .ctl-label a.hint .fa {
        font-size: 16px;
    }
 

.cursor-pointer {
    cursor: pointer;
}

/* Promotions */
#promotionProducts {
    list-style: none;
    padding: 0;
}

    #promotionProducts li {
        margin-bottom: 30px;
    }

        #promotionProducts li main {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 200px;
            background-color: #F5F5F5;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        }

        #promotionProducts li header {
            background-color: #F5F5F5;
            padding: 10px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        }

        #promotionProducts li.disabled {
            opacity: .3;
        }

            #promotionProducts li.disabled:hover {
                opacity: 1;
            }
/* Dishes */
.td-action .fa {
    color: #428bca !important;
    font-size: 13px !important;
}

    .td-action .fa:hover {
        color: forestgreen;
    }

.md-content .adminTitle {
    width: 200px;
}

.md-content .adminData {
    width: 300px;
}

.md-content .edit-form {
    width: 100%;
}

.md-content main {
    padding: 0 15px;
}

.btn-comment {
    position: relative;
}


    .btn-comment span {
        position: absolute;
        left: 10px;
        font-size: 12px;
        font-weight: bold;
        color: white;
        top: 5px;
    }

/* Stype of Home Page */
#home-page .wapper-table,
#home-page .wapper-order,
#home-page .wapper-kitchen,
#home-page .wapper-promotion {
    float: left;
    width: 50%;
}

#home-page .wapper-table {
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}

#home-page .wapper-order {
    border-right: 2px solid #CCC;
}

#home-page .wapper-kitchen {
    border-bottom: 2px solid #CCC;
}

    #home-page .wapper-kitchen h3,
    #home-page .wapper-promotion h3 {
        text-align: right;
    }

#home-page .wapper-content {
    min-height: 210px;
}

    #home-page .wapper-content .serving,
    #home-page .wapper-content .list-table {
        float: left;
        width: 20%;
    }

    #home-page .wapper-content .info-table {
        float: left;
        width: 50%;
        margin-left: 10%;
    }

#home-page .info-table label {
    font-weight: normal;
    margin-bottom: 20px;
    width: 100%;
}

#home-page .wapper-content .list-table {
    border: 2px solid #CCC;
    overflow-y: scroll;
    height: 178px;
    line-height: 25px;
}

    #home-page .wapper-content .list-table .option-table {
        text-transform: uppercase;
        padding-left: 20px;
        cursor: pointer;
    }

        #home-page .wapper-content .list-table .option-table:hover {
            background-color: #F7F7F3;
        }

#home-page .wapper-content .table-responsive {
    height: 163px;
    overflow-y: auto;
}

#home-page .wapper-content .table thead > tr > th,
#home-page .wapper-content .table tbody > tr > th,
#home-page .wapper-content .table tfoot > tr > th,
#home-page .wapper-content .table thead > tr > td,
#home-page .wapper-content .table tbody > tr > td,
#home-page .wapper-content .table tfoot > tr > td {
    padding: 5px;
}

#home-page .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#home-page .product-name {
    max-width: 150px;
    min-width: 150px;
}

#home-page #tabsPromotions .highcharts-legend,
#home-page #tabsPromotions .highcharts-tooltip {
    display: none;
}

#home-page .wapper-promotion .wapper-content {
    padding-top: 23px;
}

#home-page #emenu-dashboard {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

    #home-page #emenu-dashboard .row {
        margin-bottom: 10px;
    }

#home-page .emenu-panel {
    width: 100%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

    #home-page .emenu-panel .emenu-title {
        border-bottom: 1px solid #ddd;
        background-color: #F7F7F7;
        width: 100%;
        vertical-align: middle;
        display: block;
        padding: 5px 10px;
        padding-bottom: 15px
    }

        #home-page .emenu-panel .emenu-title a {
            text-decoration: none;
        }

    #home-page .emenu-panel .emenu-body {
        display: inline-block;
        width: 100%;
        padding: 5px;
    }

    #home-page .emenu-panel .serving {
        padding: 0 0;
    }

    #home-page .emenu-panel .list-table ul {
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow-y: scroll;
        border: 1px solid #ddd;
        max-height: 200px;
        min-height: 200px;
    }

        #home-page .emenu-panel .list-table ul li {
            list-style: none;
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }

            #home-page .emenu-panel .list-table ul li:last-child {
                border: none;
            }

            #home-page .emenu-panel .list-table ul li:hover {
                background-color: #808080;
                color: #fff;
            }

#home-page #tabsKitchen tr,
#home-page #tabsOrders tr {
    width: 100%;
    display: inline-table;
}

#home-page #tabsKitchen table,
#home-page #tabsOrders table {
    height: 157px;
}

    #home-page #tabsKitchen table tbody tr.tr-count td,
    #home-page #tabsOrders table tbody tr.tr-count td {
        border-top: none;
    }

#home-page .table-bordered > thead > tr > th,
#home-page .table-bordered > tbody > tr > th,
#home-page .table-bordered > tfoot > tr > th,
#home-page .table-bordered > thead > tr > td,
#home-page .table-bordered > tbody > tr > td,
#home-page .table-bordered > tfoot > tr > td {
    border: none;
    border-top: 1px solid #ddd;
}

#home-page .table-bordered {
    border: none;
}

#home-page #tabsKitchen tbody,
#home-page #tabsOrders tbody {
    overflow-y: auto;
    max-height: 149px;
    width: 92.3%;
    position: absolute;
    border: 1px solid #CCC;
    border-top: none;
}

    #home-page #tabsKitchen tbody tr td .table-name,
    #home-page #tabsOrders table tbody tr .table-name {
        min-width: 80px;
        max-width: 80px;
    }

    #home-page #tabsKitchen tbody tr td .time-lapsed,
    #home-page #tabsOrders tbody tr td .time-lapsed {
        min-width: 150px;
        max-width: 150px;
    }

     #home-page #tabsKitchen tbody tr td .dishes-status{
        min-width: 100px;
        max-width: 100px;
    }

/* End Stype of Home Page */

/*-------tooltip--------*/

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}

.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent #666;
    border-width: 10px 0 10px 10px;
}

.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 10px 10px 0;
}

.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 0 10px 10px;
}

/*end tooltip*/

/* Voucher details page */
.edit-voucher .table tbody tr:hover {
    background-color: #F7F7F3;
    cursor: pointer;
}

.create-voucher textarea,
.edit-voucher textarea {
    width: 300px;
    height: 100px;
}
/* End Voucher details page */

/* Style of Users and Groups page */
#roleGroup .text-overflow,
#divGroupUser .text-overflow,
#divUser .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}


#divGroupUser .role-name {
    max-width: 150px;
}

#roleGroup .module-name {
    max-width: 120px;
}

#divUser .user-name {
    max-width: 200px;
}

#modalUser .row-validate {
    margin-bottom: 5px;
}

.modal-edit-user select,
.modal-edit-user .app-name {
    width: 233px;
}

#modalViewUser .md-content main {
    padding: 0 30px;
}

#modalViewUser .row {
    margin-top: 15px;
}

#modalRole .row,
#modalViewUserRole .row {
    margin-top: 5px;
}

 
#modalViewUser fieldset,
#modalUser fieldset {
    border: 1px solid #CCC;
    padding: 10px;
}

.role-edit fieldset {
    margin-right: 30px;
    max-height: 495px;
    min-height: 495px;
    border: 1px solid #CCC;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#modalUser fieldset {
    margin-left: 20px;
    margin-right: 20px;
}

#modalUser .list-role-update .selectBox {
    width: 233px;
}

#modalUser .list-role-create .selectBox {
    width: 284px;
}

.role-edit fieldset legend,
.order-edit fieldset legend,
#modalViewUser fieldset legend,
#modalUser fieldset legend {
    border-bottom: none !important;
    width: auto !important;
    font-size: 16px;
    margin-bottom: 3px !important;
}

.modal-edit-user {
    top: 360px !important;
    left: 50% !important;
    max-height: 720px;
}

    .modal-edit-user .alert {
        padding: 5px !important;
        margin-bottom: 0px !important;
    }

.userModel {
    position: absolute !important;
    margin: 0px auto !important;
    left: 25% !important;
    top: 95px !important;
}

#modalUser .field-validation-error,
#modalUser .requiredField {
    color: red;
}

#modalViewUserRole .list-member .table-data {
    margin-right: 30px;
    max-height: 458px;
    overflow-y: auto;
    margin-bottom: 20px;
    min-height: 458px;
    border: 1px solid #CCC;
}

    #modalViewUserRole .list-member .table-data tbody > tr > td {
        background-color: #FFFFFF;
    }

#modalViewUserRole .list-member .table tbody > tr > td div.color-gray {
    color: #CCC !important;
}

.validation-summary-errors ul li {
    color: red;
    list-style: none;
    margin-top: 20px;
    margin-left: -37px;
}

#modalRole .validation-summary-valid {
    color: red;
}

.search-content-user {
    padding-left: 230px;
}

#modalRole .validation-summary-errors {
    margin-left: 12px;
}

.modal-role-edit {
    top: 52% !important;
    left: 50% !important;
    width: 70% !important;
    max-width: 900px !important;
}

    .modal-role-edit .list-member .all-member,
    .modal-role-edit .list-member .member-role {
        float: left;
        width: 35%;
        border: 1px solid #CCC;
        max-height: 450px;
        min-height: 450px;
        overflow-y: auto;
    }

    .modal-role-edit .list-member .select-member {
        float: left;
        width: 30%;
        max-height: 450px;
        min-height: 450px;
    }

#modalRole .alert,
#modalUser .alert {
    margin-bottom: 5px !important;
}

#modalUser #alertErrorChangePassword {
    width: 66%;
    float: left;
}

#modalUser .btn-changePassword {
    float: left;
}

#divCate .td-action .fa,
#divTable .td-action .fa {
    margin: 0 !important;
}

.td-action {
    min-width: 76px;
}

#modalViewUserRole .list-module,
#modalRole .list-module {
    min-height: 400px;
    max-height: 429px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #CCC;
    min-width: 323px;
    border-top: 1px solid #CCC;
}

#modalRole .role-name-edit {
    width: 323px;
}

#modalRole .role-name {
    width: 401px;
}


#modalViewUserRole .user-name {
    max-width: 100px;
}

#modalViewUserRole .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* End Style of Users and Groups page */
/* End Voucher details page */

.highlight {
    background-color: lightblue;
}

/* 
   product-page
*/
.product-page .selectList {
    display: block !important;
}

.product-page .input-group {
    width: 300px;
}

table#rate tr td {
    width: 70px;
}

.tabrow {
    /*text-align: center;*/
    list-style: none;
    /*margin: 200px 0 20px;*/
    padding: 0;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}

    .tabrow li {
        border: 1px solid #AAA;
        background: #D1D1D1;
        background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
        background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
        background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
        background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
        display: inline-block;
        position: relative;
        z-index: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
        text-shadow: 0 1px #FFF;
        margin: 0 -5px;
        padding: 0 20px;
    }

    .tabrow a {
        color: #555;
        text-decoration: none;
    }

    .tabrow li.selected {
        background: #FFF;
        color: #333;
        z-index: 2;
        border-bottom-color: #FFF;
    }

    .tabrow:before {
        position: absolute;
        content: " ";
        /*width: 100%;*/
        bottom: 0;
        left: 0;
        /*border-bottom: 1px solid #AAA;*/
        z-index: 1;
    }

    .tabrow li:before,
    .tabrow li:after {
        border: 1px solid #AAA;
        position: absolute;
        bottom: -1px;
        width: 5px;
        height: 5px;
        content: " ";
    }

    .tabrow li:before {
        left: -6px;
        border-bottom-right-radius: 6px;
        border-width: 0 1px 1px 0;
        box-shadow: 2px 2px 0 #D1D1D1;
    }

    .tabrow li:after {
        right: -6px;
        border-bottom-left-radius: 6px;
        border-width: 0 0 1px 1px;
        box-shadow: -2px 2px 0 #D1D1D1;
    }

    .tabrow li.selected:before {
        box-shadow: 2px 2px 0 #FFF;
    }

    .tabrow li.selected:after {
        box-shadow: -2px 2px 0 #FFF;
    }

.product-page ul, ol {
    margin-bottom: 1px;
}

.product-page a#fakeUploadFile {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
}

.product-page input, select, textarea {
    max-width: none !important;
}

.product-page textarea {
    width: 100%;
    height: 120px;
}

.product-page a.underline {
    margin-top: 10px;
    text-decoration: underline;
}

.product-page img[id^=productUrl] {
    display: block;
}

.product-page input, select, textarea {
    max-width: none !important;
}

.product-page textarea {
    width: 100%;
    height: 120px;
}
.product-page .CommentDetails {
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}
/* Style of Configuation Page*/
.list-Configuation .user-name {
    width: 180px;
}

.list-Configuation .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#edit-Configuration .requiredField {
    color: red;
}

.product-code,
.taxes-common select {
    width: 200px;
}

#edit-Configuration .field-validation-valid {
    color: red;
}
/* End Style of Configuation Page*/

/* Start Style of menu*/
li.account {
    margin-top: 34px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 15px;
    font-size: 13px;
}

    li.account .username{
        color: #f0ad4e;
    }
/* End Style of menu*/

/* Start Style of Category page*/
#produc-list .table-bordered > thead > tr > th,
#produc-list .table-bordered > tbody > tr > th,
#produc-list .table-bordered > tfoot > tr > th,
#produc-list .table-bordered > thead > tr > td,
#produc-list .table-bordered > tbody > tr > td,
#produc-list .table-bordered > tfoot > tr > td {
    border-top: 1px solid #ddd;
}

#tabs-unit .unit-name,
#produc-list .category-name {
    max-width: 200px;
    min-width: 100px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.field-validation-error,
.requiredField {
    color: red !important;
    font-weight: bold;
}
/* End Style of Category page*/
/* Start Style of scheduler page*/
#scheduler-list .scheduler-name {
    max-width: 150px;
    min-width: 150px;
}

#scheduler-list .run-at {
    max-width: 80px;
    min-width: 80px;
}


.product-page .schedulerTitle {
    width: 200px;
    text-align: left;
    font-weight: normal !important;
}

.product-page .schedulerTitle-right {
    padding-left: 250px;
    width: 400px;
}

.product-page #divSchedulerTypeWeekly select,
.product-page #divSchedulerTypeMonthly select {
    width: 156px;
}

.font-bold {
    font-weight: bold !important;
}
/* End Style of scheduler page*/

#divTable .table-code,
#divTable .floor-name {
    min-width: 100px;
}
/* Start style of userinfo page*/
.user-info {
    margin-top: 20px;
}

.user-info legend {
    font-size: 18px;
}

.user-info .row {
    margin-bottom: 15px;
}

.user-info .text-overflow {
    width: 330px;
}

.container .first-log-title {
        color: rgb(252, 151, 8);
}
/* End style of userinfo page*/
.td_none {
    border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; background-color: #fff
}
.td1_none {
    border-top: none; padding-bottom: 0px
}

.row-validate {
    margin-bottom: 8px;
}

.float-left {
    float: left;
}

#Message {
    margin-top: 30px;
}

table tr th {
    text-align: left
}


.label-success, .badge-success {
    background-color: #468847;
}
.label-info, .badge-info {
    background-color: #3a87ad;
}
.form-horizontal {
    margin-top: 30px
}
.has-input-error {
        border-color: #a94442;
    }
 .hiddenRow {
    padding: 0 !important;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.pad-bottom {
    padding-bottom: 15px;
}
.adminData {
    width: 60%
}